ipyleaflet
ipywidgets
matplotlib
numpy
opencv-python
pandas
psycopg2-binary
psycopg2
pymysql
python-dotenv
requests
scikit-learn
seaborn
sqlalchemy
sympy
xgboost
openpyxl
edastatmil_milser
streamlit
sklearn
sklearn.metrics.pairwise
scipy
scipy.sparse
py7zr
joblib
psutil